<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/update/<%= details._id %>" method="post" style="display: flex;flex-direction:column;">
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= details.name %>">
            <label for="email">Email</label>
            <input type="text" name="email" value="<%= details.email %>">
            <label for="rollno">Roll no</label>
            <input type="text" name="rollno" value="<%= details.rollno %>">
            <input type="submit">
        </form>
    </div>
</body>
</html>