<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/edit" method="POST">
            <input name="Prev" type="text" value="<%= previousName %>" style="color:black;background-color: white;border-radius:10px;padding:5px;border:2px solid black;"/>
            <input name="New" type="text" placeholder="Enter new filename" style="border:2px solid black;color:black;background-color: white;border-radius:10px;padding:5px;"/>
            <button type="submit" style="margin-left:5px;font-weight:bold;padding:5px;border-radius:5px;background-color:black;margin-top:15px;color: yellow;padding-left:5px;">Update Name</button>
        </form>
    </div>
</body>
</html>