<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family:Arial, Helvetica, sans-serif">
    <h1>Sign up Here</h1>
    <form action="/SignupForm" method="post" style="display: flex;flex-direction:column">
        <label for="name">Enter your name</label>
        <input type="text" id="name" name="name" required style="margin: 5px;padding:5px;width:50%;">
        <label for="email">Enter your email</label>
        <input type="text" id="email" name="email" required style="margin: 5px;padding:5px;width:50%;">
        <label for="rollno">Enter your roll number</label>
        <input type="text" placeholder="ex: 2451-22-749-054" name="rollno" id="rollno" required style="margin: 5px;padding:5px;width:50%;">
        <input type="submit" name="formsubmit" id="" style="background-color:blue;color:aliceblue;cursor:pointer;margin: 5px;padding:5px;width:50%;">
    </form>
</body>
</html>